<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	    autoReload="true"
      throwExceptions="false">
	<!--支持异步保存日志-->
	<targets async="true">
		<!--target name="logfile" xsi:type="File" fileName="file.txt" layout="${longdate}|${level:uppercase=true}|${logger}|${threadid}|${message}|${exception:format=tostring}" /-->
		<!-- 输出消息统一格式, 可以日志分析 -->
		<target name="logfile" xsi:type="File" fileName="logs/${date:format=yyyy-MM-dd}.log" layout="${longdate} | ${level:uppercase=true:padding=5} | ${logger} | ${message} | ${exception:format=tostring}" />
		<target name="logconsole" xsi:type="Console" layout="${longdate} | ${level:uppercase=true:padding=5} | ${logger} | ${message} | ${exception:format=tostring}" />
	</targets>

	<rules>
		<!--Trace|Info|Debug|Warn|Error-->
		<logger name="*" minlevel="Info" writeTo="logconsole" />
		<logger name="*" minlevel="Info" writeTo="logfile" />
	</rules>
</nlog>